## VisualStudio/C#
# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
bld/
Log/

# Visual Studio 2015 cache/options directory
.vs/

# NuGet Packages
packages/
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config

# Downloaded tools
nuget.exe

# Windows image file caches
Thumbs.db
ehthumbs.db

# Dotnet Core
project.lock.json
project.fragment.lock.json
artifacts/

# StyleCop
StyleCop.Cache
stylecop.json
StyleCop.Settings

# Fody
FodyWeavers.xml